/* Bendras stilius: */





/* Rimante stiliaus kodas: */
.home{
    background:rgb(233, 226, 226);
}

.logo{
    box-sizing: border-box;
    height: 30px;
    position: relative;
    vertical-align: middle;
}

.socialLinks{
box-sizing: border-box;
display: flex;
justify-content: center;
}

.socialLinks li{
    padding: 0 5px;
}

.socialLinks li img {
width: 30px;
}

.follow{
    box-sizing: border-box;
    text-align: center;
}

.style{
    overflow: hidden;
}

footer.style{
    overflow: hidden;
}

.homeimg{
    border-radius: 50%;
}

.center{
    text-align: center;
}

.contactHeader{
    color: black;
    font-weight: bold;
}

.back{
    background: rgb(218, 212, 212);
}





body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
  }

  main {
    flex: 1 0 auto;
  }


  

/* JG css pradzia */ 



.aboutCh1Center {
    width: 70%;
    margin-left: auto;
    margin-right: auto;

}

.aboutImgTop1 {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
}

.aboutCh2 {
    width: 20%;
    margin-left: auto;
    margin-right: auto;
}

.abouth2 {
    font-size: 1vw;
    text-align: center;
}

.abouth1 {
    font-size: 1vw;
    text-align: center;
}

.aboutCh3 {
    width: 20%;
    margin-left: auto;
    margin-right: auto;
}

/* JG css pabaiga */



/* Rimante stiliaus kodas: */





/* Karolis stiliaus kodas: */




