/* Bendras stilius: */





/* Rimante stiliaus kodas: */
.home{
    background:rgb(233, 226, 226);
}

.logo{
    box-sizing: border-box;
    height: 30px;
    position: relative;
}

.socialLinks{
box-sizing: border-box;
display: flex;
justify-content: center;
}

.socialLinks li{
    padding: 0 5px;
}

.socialLinks li img {
width: 30px;
}

.follow{
    box-sizing: border-box;
    text-align: center;
}

.style{
    overflow: hidden;
}

footer.style{
    overflow: hidden;
}

/* JG css pradzia */ 



.aboutCh1Center {
    width: 70%;
    margin-left: auto;
    margin-right: auto;

}

.aboutImgTop1 {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
}

.aboutCh2 {
    width: 70%;
    margin-left: auto;
    margin-right: auto;
}

.abouth2 {
    text-align: center;
    text-justify: auto;
}

.abouth1 {
    text-align: center;
    text-justify: auto;
}

/* JG css pabaiga */



/* Rimante stiliaus kodas: */





/* Karolis stiliaus kodas: */




